<h2>Send psoitive vibes</h2>
<form>
    <lable>From:</lable>
    <input id="txtFrom" asp-for"/>
    <br />
    <label>Subject:</label>
    <input id="txtSubject" />
    <br />
    <label>Message:</label>
    <br />
    <textarea rows="4" id="txtMessage"></textarea>
    <br />
    <input type="button" value="send message" id="btnsubmit" />
</form>
