@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}


<p>The best SG in the league</p>
<p>Aspects of his game:</p>
<ul>
    <li>He smooth wit it</li>
    <li>70</li>
    <li>His stroke is holy</li>
    <li>He pulled Kylie Jenner</li>
</ul>

    

