<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Devin Booker Fanclub</title>
    <link href="css/site.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <h1>Devin Booker Fan Club</h1>
    <h3>"Shots that I took wet like I'm Book"</h3>

    <img src="~/img/Devin_Booker_(2022_All-Star_Weekend).jpg " height="400" id="imgBook" />

    <div>
        @RenderBody()
    </div>

    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/site.js"></script>

</body>
</html>
